#publisher_name, #subscriber_name, #moderator_name{
    float: left;
    padding: 2px;
    margin-left: 2px;
    background: #E3F6E5;
    border: 1px #B4E3B9 solid;
}
#removeMember{
    float: right;
    padding-left: 4px;
    cursor: pointer;
    font-weight: bolder;
    color: #AAB1BC;
}
.via_send{
    margin-top: 8px;
    margin-bottom: 8px;
}
.via_send span{
    background: #E3F6E5;
    border: 1px #B4E3B9 solid;
    padding: 4px 4px 6px 0px;
    margin-right: 1px;
}